.formItem {
  :global(.ant-form-item-label) {
    width: 120px;
    max-width: 120px;
    margin-right: 10px;
    label {
      width: 100%;
      font-weight: bold !important;
      text-align: left !important;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      color: rgb(78, 89, 105);
      &::after {
        display: none;
      }
    }
  }

  :global(.ant-form-item-control) {
    :global(.ant-input) {
      background-color: rgba(247, 248, 250, 1) !important;
      border: none !important;
      box-shadow: none !important;
      border-radius: 4px;
      color: rgba(136, 136, 136, 1);
      font-size: 12px;
      font-weight: 500;
    }

    :global(.ant-input-affix-wrapper) {
      background-color: #f5f5f5 !important;
      border: none;
      border-radius: 4px;
    }
  }
}

.editable {
  :global(.ant-form-item-control) {
    :global(.ant-input) {
      background-color: #fff !important;
      border: 1px solid #d9d9d9 !important;
      box-shadow: none !important;
      color: #000;
    }

    .ant-input-affix-wrapper {
      background-color: #fff !important;
      border: 1px solid #d9d9d9;
    }
  }
}
