.card {
  height: 100%;
  margin-bottom: 24px;
  overflow: hidden;
  border: none;

  .cardTitle {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    font-weight: 700;
    padding: 20px 0;
    color: rgba(79, 79, 79, 100%);
    border-bottom: 1px solid rgba(245, 245, 245, 1);
    div {
      display: flex;
      align-items: center;
    }
    .viewChat {
      cursor: pointer;
      padding: 2px 10px;
      border: 1px solid rgba(0, 122, 255, 1);
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 12px;
      border-radius: 27px;
      color: rgba(0, 122, 255, 1);
      background-color: rgba(0, 122, 255, 0.04);
    }
  }

  :global(.ant-card-head) {
    border: none;
    padding: 10px 24px;
  }
  :global(.ant-card-body) {
    padding: 0 24px;
  }
}

// 审批历史样式
.approvalChat {
  .item {
    padding: 20px 0;
    display: flex;
    border-bottom: 1px solid rgba(229, 230, 236, 1);
    .avator {
      width: 40px;
      height: 40px;
      border-radius: 50%;
    }
    .contentWrap {
      flex: 1;
      margin-left: 20px;
    }
    .content {
      font-size: 12px;
      font-weight: 500;
      color: rgba(134, 144, 156, 1);
    }
    .header {
      display: flex;
      justify-content: space-between;
      .time {
        font-size: 12px;
        font-weight: 500;
        color: rgba(134, 144, 156, 1);
      }
    }
    .avator {
      width: 40px;
      height: 40px;
      border-radius: 50%;
    }
  }
}
