.tabs-container {
  margin: 0 auto;
  background: #fff;
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid #eee;
  overflow: auto;
  scrollbar-width: none;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 2;
}

.tab {
  padding: 10px;
  font-size: 12px;
  transition: color 0.3s ease;
  color: #666;
  margin: 10px;
  cursor: pointer;
  white-space: nowrap;
}

.tab:hover {
  color: #000;
}

.tab.active {
  cursor: default;
  color: #000;
  background: #fff;
  border-radius: 8px;
  font-weight: 600;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
}

.tab-content {
  width: 100%;
  margin-top: 20px;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* 
.tab-content > div {
  width: 80%;
} */
